/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.menu {
  width: 80px;
  position: fixed;
  top: 50%;
  left: 60px;
  height: 31px;
  z-index: 1; }
  .menu .btn-burger {
    width: 48px;
    height: 31px;
    position: absolute;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none; }
    .menu .btn-burger-line {
      width: 48px;
      height: 5px;
      background: #8d949c;
      display: block;
      transition: 0.3s ease-in-out; }
      .menu .btn-burger-line:before, .menu .btn-burger-line:after {
        content: "";
        width: 48px;
        height: 5px;
        background: #8d949c;
        display: block;
        position: absolute;
        cursor: pointer;
        outline: none;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out; }
      .menu .btn-burger-line:after {
        top: 26px; }

.flex {
  display: none;
  height: calc(100vh - 160px);
  margin: 0 0 80px; }
  .flex .collaborate {
    display: flex;
    flex-direction: column;
    background-color: #2b2b3f;
    position: relative;
    justify-content: center;
    padding: 80px;
    flex-grow: 1;
    color: #f0f8fc; }
    .flex .collaborate .list {
      margin: 0 0 80px; }
      .flex .collaborate .list-item {
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 32px;
        transition: transform 300ms ease; }
        .flex .collaborate .list-item:hover {
          text-shadow: 2px 2px 4px #f8a62a, 0 0 1em #fffb00, 0 0 0.2em blue;
          transform: scale(1.01); }
        .flex .collaborate .list-item-link {
          color: #f0f8fc; }
    .flex .collaborate .qv {
      color: #e7717d;
      font-size: 18px;
      line-height: 22px;
      font-style: italic;
      margin: 0 0 80px; }
    .flex .collaborate .contact {
      color: #f0f8fc;
      font-size: 26px;
      font-weight: 900;
      font-style: italic;
      margin: 0 0 32px;
      transition: transform 300ms ease; }
      .flex .collaborate .contact:hover {
        text-shadow: 2px 2px 4px #f8a62a, 0 0 1em #fffb00, 0 0 0.2em blue;
        transform: scale(1.01); }
  .flex .puzzle {
    width: 50%;
    background: url(../img/puzzle.jpg) center/cover no-repeat fixed; }

.menu-open .flex {
  display: flex; }

.menu-open .btn-burger .btn-burger-line {
  background: transparent; }
  .menu-open .btn-burger .btn-burger-line:after {
    background: #8d949c; }
  .menu-open .btn-burger .btn-burger-line:before {
    background: #8d949c;
    transform: rotate(45deg) translate(6px, 12px); }
  .menu-open .btn-burger .btn-burger-line:after {
    transform: rotate(-45deg) translate(6px, -12px); }

.skills {
  background-color: #e6dcd79f;
  height: calc(100vh - 80px);
  position: relative;
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .skills .title {
    color: #df856c70;
    font-size: 80px;
    font-weight: 900;
    line-height: 94px;
    margin: 0 0 80px; }
  .skills .table {
    display: flex; }
  .skills .tech {
    flex-basis: 380px; }
    .skills .tech .type {
      margin: 0 0 32px; }
  .skills .progress .line {
    background-color: #e7717d;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 12px 0 56px;
    animation: line 3s ease-in-out 0.5s forwards; }
  .skills .progress .html {
    animation-name: html; }

@keyframes html {
  100% {
    width: 560px; } }
  .skills .progress .layout {
    animation-name: layout; }

@keyframes layout {
  100% {
    width: 410px; } }
  .skills .progress .bootstrap {
    animation-name: bootstrap; }

@keyframes bootstrap {
  100% {
    width: 330px; } }
  .skills .progress .jquery {
    animation-name: jquery; }

@keyframes jquery {
  100% {
    width: 250px; } }
  .skills .progress .preprocessors {
    animation-name: preprocessors; }

@keyframes preprocessors {
  100% {
    width: 410px; } }
  .skills .progress .gulp {
    animation-name: gulp; }

@keyframes gulp {
  100% {
    width: 375px; } }
  .skills .progress .git {
    animation-name: git; }

@keyframes git {
  100% {
    width: 550px; } }

.projects {
  background-color: #e6dcd79f;
  height: calc(100vh - 80px);
  position: relative;
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .projects .title {
    color: #df856c70;
    font-size: 80px;
    font-weight: 900;
    line-height: 94px;
    margin: 0 0 80px; }
  .projects .subtitle {
    font-weight: bold;
    margin: 0 0 20px; }
  .projects .gitlab {
    margin: 0 0 80px; }
    .projects .gitlab .link {
      color: #e7717d;
      font-size: 18px;
      line-height: 22px;
      font-style: italic;
      text-decoration: underline; }

.experience {
  background-color: #e6dcd79f;
  position: relative;
  padding: 80px 80px 0;
  display: flex;
  flex-direction: column; }
  .experience .title {
    color: #df856c70;
    font-size: 80px;
    font-weight: 900;
    line-height: 94px;
    margin: 0 0 80px; }
  .experience-info {
    margin: 0 0 80px; }
    .experience-info .date {
      color: #e7717d;
      font-size: 18px;
      line-height: 22px;
      font-style: italic;
      display: block;
      margin: 0 0 18px; }
    .experience-info .subtitle {
      font-weight: bold;
      margin: 0 0 18px; }
    .experience-info .link {
      display: block;
      color: #e7717d;
      font-size: 18px;
      line-height: 22px;
      font-style: italic;
      text-decoration: underline;
      padding: 15px 0 0; }

body {
  font: 32px/38px Roboto, Helvetica, sans-serif;
  color: #5b656e;
  background-color: #fffcfa; }
  body .wrapper {
    padding: 80px;
    min-height: 100vh; }
    body .wrapper .header {
      height: 80px;
      width: 100%;
      position: fixed;
      background-color: #fffcfa;
      top: 0;
      left: 0;
      z-index: 2; }
      body .wrapper .header-name {
        background-color: #fffcfa;
        position: fixed;
        top: 40px;
        left: 80px; }
      body .wrapper .header-theme {
        background-color: #df856c70;
        width: 40px;
        height: 20px;
        position: fixed;
        top: 40px;
        right: 80px; }
    body .wrapper .links {
      width: 80px;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .wrapper .links-item {
        transition: transform 1s ease;
        margin: 0 0 10px 25px;
        opacity: 0.5; }
        body .wrapper .links-item:hover {
          transform: scale(1.05);
          opacity: 1; }
      body .wrapper .links-img {
        width: 32px;
        height: 32px; }
    body .wrapper .hero {
      width: 100%;
      background-color: #df856c70;
      height: calc(100vh - 160px);
      margin: 0 0 80px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .wrapper .hero:before {
        content: "";
        width: 50%;
        height: calc(100vh - 160px);
        background-color: #e6dcd79f;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        transition: opacity 2s, transform 2s; }
      body .wrapper .hero-text {
        position: relative;
        z-index: 1; }
        body .wrapper .hero-text .welcome {
          font-size: 80px;
          font-weight: 900;
          line-height: 94px; }
      body .wrapper .hero .info {
        opacity: 0;
        display: none;
        width: 600px; }
        body .wrapper .hero .info .date {
          color: #e7717d;
          font-size: 18px;
          line-height: 22px;
          font-style: italic;
          display: block; }
        body .wrapper .hero .info .title {
          display: block;
          font-weight: bold;
          margin: 0 0 32px; }
      body .wrapper .hero:hover:before {
        opacity: 0;
        transform: scaleX(-1.2); }
      body .wrapper .hero:hover .info {
        display: block;
        opacity: 1; }
      body .wrapper .hero:hover .welcome {
        opacity: 0;
        display: none; }
    body .wrapper .parallax {
      height: 50vh;
      background: url(../img/parallax.jpg) center/cover no-repeat fixed; }
    body .wrapper .adaptive {
      height: 50vh;
      background: url(../img/adaptive.jpg) center/cover no-repeat fixed; }
    body .wrapper .footer {
      display: inline-flex;
      justify-content: space-between;
      height: 80px;
      width: 100%;
      padding: 32px 0 0;
      background-color: #fffcfa;
      font-size: 18px;
      font-weight: 900;
      font-style: italic; }
      body .wrapper .footer .link {
        color: #5b656e;
        font-weight: 900;
        padding: 0 200px 0 0; }
      body .wrapper .footer .qv {
        display: block;
        color: #e7717d;
        margin: 0 0 22px; }
      body .wrapper .footer .contact {
        color: #5b656e;
        display: block;
        font-size: 26px;
        font-weight: 900;
        font-style: italic;
        margin: 0 0 22px;
        transition: color 300ms; }
        body .wrapper .footer .contact:hover {
          color: #e7717d; }
