.menu {
  width: $gap;
  position: absolute;
  top: 50%;
  left: 60px;
  height: 31px;
  z-index: 1;
  .btn-burger {
    width: 48px;
    height: 31px;
    position: absolute;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    &-line {
      width: 48px;
      height: 5px;
      background: $icon-color;
      display: block;
      transition: 0.3s ease-in-out;
      &:before,
      &:after {
        content: "";
        width: 48px;
        height: 5px;
        background: $icon-color;
        display: block;
        position: absolute;
        cursor: pointer;
        outline: none;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
      }
      &:after {
        top: 26px;
      }
    }
  }
}
.flex {
  display: none;
  height: calc(100vh - 160px);
  margin: 0 0 $gap;
  .collaborate {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 71);
    position: relative;
    justify-content: center;
    padding: $gap;
    flex-grow: 1;
    color: rgb(240, 248, 252);
    .list {
      margin: 0 0 $gap;
      &-item {
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 32px;
        transition: transform 300ms ease;
        &:hover {
          text-shadow: 2px 2px 4px rgb(248, 166, 42), 0 0 1em rgb(255, 251, 0), 0 0 0.2em blue;
          transform: scale(1.01);
        }
        &-link {
          color: rgb(248, 251, 252);
        }
      }
    }
    .qv {
      color: $brand-color;
      font-size: 18px;
      line-height: 22px;
      font-style: italic;
      margin: 0 0 $gap;
    }
    .contact {
      color: rgb(240, 248, 252);
      font-size: 26px;
      font-weight: 900;
      font-style: italic;
      margin: 0 0 32px;
      transition: transform 300ms ease;
      &:hover {
        text-shadow: 2px 2px 4px rgb(248, 166, 42), 0 0 1em rgb(255, 251, 0), 0 0 0.2em blue;
        transform: scale(1.01);
      }
    }
  }
  .puzzle {
    width: 50%;
    background: url(../img/puzzle.jpg) center / cover no-repeat fixed;
  }
}
.menu-open {
  .flex {
    display: flex;
  }
  .btn-burger .btn-burger-line {
    background: transparent;
    &:after {
      background: $icon-color;
    }
    &:before {
      background: $icon-color;
      transform: rotate(45deg) translate(6px, 12px);
    }
    &:after {
      transform: rotate(-45deg) translate(6px, -12px);
    }
  }
}
