.experience {
    background-color: $box-color;
    position: relative;
    padding: $gap $gap 0;
    display: flex;
    flex-direction: column;
    .title {
        color: $primary-color;
        font-size: 80px;
        font-weight: 900;
        line-height: 94px;
        margin: 0 0 $gap;
    }
    &-info {
        margin: 0 0 $gap;
        .date {
            color: $brand-color;
            font-size: 18px;
            line-height: 22px;
            font-style: italic;
            display: block;
            margin: 0 0 18px;
        }
        .subtitle {
            font-weight: bold;
            margin: 0 0 18px;
        }
    }
}
