.projects {
    background-color: $box-color;
    height: calc(100vh - 80px);
    position: relative;
    padding: $gap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title {
        color: $primary-color;
        font-size: 80px;
        font-weight: 900;
        line-height: 94px;
        margin: 0 0 $gap;
    }
    .subtitle {
        font-weight: bold;
        margin: 0 0 20px;
    }
    .github {
        margin: 0 0 $gap;
        .link {
            color: $brand-color;
            font-size: 18px;
            line-height: 22px;
            font-style: italic;
            text-decoration: underline;
        }
    }
}
