@import "variables", "reset", "burger", "skills", "projects", "experience";

body {
  font: $font-stack;
  color: $main-text;
  background-color: $bg-color;
  .wrapper {
    padding: $gap;
    min-height: 100vh;
    .header {
      height: $gap;
      width: 100%;
      position: fixed;
      background-color: $bg-color;
      top: 0;
      left: 0;
      z-index: 2;
      &-name {
        background-color: $bg-color;
        position: fixed;
        top: 40px;
        left: 80px;
      }
      &-theme {
        background-color: $primary-color;
        width: 40px;
        height: 20px;
        position: fixed;
        top: 40px;
        right: 80px;
      }
    }
    .links {
      width: $gap;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-item {
        transition: transform 1s ease;
        margin: 0 0 10px 25px;
        opacity: 0.5;
        &:hover {
          transform: scale(1.05);
          opacity: 1;
        }
      }
      &-img {
        width: 32px;
        height: 32px;
      }
    }
    .hero {
      width: 100%;
      background-color: $primary-color;
      height: calc(100vh - 160px);
      margin: 0 0 $gap;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        content: "";
        width: 50%;
        height: calc(100vh - 160px);
        background-color: $box-color;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        transition: opacity 2s, transform 2s;
      }
      &-text {
        position: relative;
        z-index: 1;
        .welcome {
          font-size: $gap;
          font-weight: 900;
          line-height: 94px;
        }
      }
      .info {
        opacity: 0;
        display: none;
        width: 600px;
        .date {
          color: $brand-color;
          font-size: 18px;
          line-height: 22px;
          font-style: italic;
          display: block;
        }
        .title {
          display: block;
          font-weight: bold;
          margin: 0 0 32px;
        }
      }
      &:hover {
        &:before {
          opacity: 0;
          transform: scaleX(-1.2);
        }
        .info {
          display: block;
          opacity: 1;
        }
        .welcome {
          opacity: 0;
          display: none;
        }
      }
    }
    .parallax {
      height: 50vh;
      background: url(../img/parallax.jpg) center / cover no-repeat fixed;
    }
    .adaptive {
      height: 50vh;
      background: url(../img/adaptive.jpg) center / cover no-repeat fixed;
    }
    .footer {
      display: inline-flex;
      justify-content: space-between;
      height: $gap;
      width: 100%;
      padding: 32px 0 0;
      background-color: $bg-color;
      font-size: 18px;
      font-weight: 900;
      font-style: italic;
      .link {
        color: $main-text;
        font-weight: 900;
        padding: 0 200px 0 0;
      }
      .qv {
        display: block;
        color: $brand-color;
        margin: 0 0 22px;
      }
      .contact {
        color: $main-text;
        display: block;
        font-size: 26px;
        font-weight: 900;
        font-style: italic;
        margin: 0 0 22px;
        transition: color 300ms;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}
