$font-stack: 32px/38px Roboto, Helvetica, sans-serif;
$gap: 80px;
$primary-color: #e4b8aa;
$brand-color: #e7717d;
$bg-color:#fffcfa;
$box-color:#f1e6e0;
$main-text: #535b63;
$icon-color: #828a92;

// First theme
// $primary-color: #e498aa;
// $brand-color: #d1c5c5;
// $bg-color:#e6e3e1;
// $box-color:#969163;
// $main-text: #4e4e50;
// $icon-color: #777b7e;