$font-stack: 32px Helvetica, sans-serif;
$gap: 80px;
$primary-color: #df856c70;
$brand-color: #d1030d;
$bg-color:#fdf8f538;
$box-color:#e6dcd7e1;
$main-text: #5b656e;
$icon-color: #8d949c;


// Light-theme:
// $primary-color: #cebbb4;
// $brand-color: #d1030d;
// $bg-color:#ece8e5;
// $main-text: #5b656e;
// $icon-color: #8d949c;