$font-stack: 32px/38px Roboto, Helvetica, sans-serif;
$gap: 80px;
$primary-color: #df856c70;
$brand-color: #e7717d;
$bg-color:#fffcfa;
$box-color:#e6dcd79f;
$main-text: #5b656e;
$icon-color: #8d949c;



// $primary-color: #c2cda0;
// $brand-color: #e7717d;
// $bg-color:#fffcfa;
// $box-color:#afd275;
// $main-text: #5b656e;
// $icon-color: #8d949c;




// $primary-color: #df856c70;
// $brand-color: #d1030d;
// $bg-color:#fffcfa;
// $box-color:#e6dcd79f;
// $main-text: #5b656e;
// $icon-color: #8d949c;

// $primary-color: #cebbb4;
// $brand-color: #EDF5E1;
// $bg-color: #5CDB95;
// $box-color:#8EE4AF;
// $main-text: #5b656e;
// $icon-color: #8d949c;

// First theme



// #8EE4AF; GREEN
// #5CDB95

// $primary-color: #cebbb4;
// $brand-color: #EDF5E1;
// $bg-color: #5CDB95;
// $box-color:#8EE4AF;
// $main-text: #5b656e;
// $icon-color: #8d949c;